<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd67e0aa15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/create-product-styles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">

        <div class="main-top-bar">

            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Libre">
            
            <label class="header-search">
                    <input type="text" placeholder="Buscar productos, marcas" autocomplete="off" name ="buscar-prodcutos" id="input-buscador-header" >
                    <div class="contenedor-lupa"><i id="lupa" class="fa-solid fa-magnifying-glass"></i></div>
            </label>

            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>  
            
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>  

        <nav class="main-navbar">

            <ul class="navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="login">
                <li><a href="#">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>

    </header>

    <main>
        
        <form action="/crear-producto" method="POST" class="create-form">

            <div class="form-control">
                <label>Nombre del producto:</label>
                <input type="text" name="product-name" class="control">
            </div>
            <div class="form-control">
                <label>Precio:</label>
                <input type="number" name="price" placeholder="$xxx.x" class="control">
            </div>
            <div class="form-control">
                <label>Categoría:</label>
                <select name="categoria" id="" class="control">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electro</option>
                    <option value="indumentaria">Indumentaria</option>
                </select>
            </div>
            <div class="form-control">
                <label>Ciudad:</label>
                <select name="Ciudad" id="" class="control">
                    <option value="cba">Córdoba</option>
                    <option value="bsas">Buenos Aires</option>
                    <option value="ros">Rosario</option>
                </select>
            </div>
            <div class="form-control">
                <label>Descripción del producto</label>
                <textarea name="descripcion-del-producto" id="descripcion-del-producto" cols="30" rows="10" class="control" placeholder="Escriba aquí"></textarea>
            </div>
            <div class="form-control">
                <label>Tiene descuento:</label>
                <input type="radio" name="on-sale">
            </div>

            <button type="submit" class="form-button">Guardar</button>
            <button type="reset" class="form-button">Resetear</button>
            
        </form>
    </main>



    <footer>

        <section>

            <div class="iconos-footer">
                <i class="fa-solid fa-credit-card"></i>
                </div>

            <div class="texto-footer">
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>

        </section>

        <section>

            <div class="iconos-footer">
                <i class="fa-solid fa-gift"></i>
                </div>

            <div class="texto-footer">
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>

        </section>

        <section>

            <div class="iconos-footer">
                <i class="fa-solid fa-user-shield"></i>
                </div>
            <div class="texto-footer">    
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>

        </section>

        <div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>

    </footer>   

    
</body>
</html>