<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd67e0aa15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">

        <div class="main-top-bar">

            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Libre">
            
            <label class="header-search">
                    <input type="text" placeholder="Buscar productos, marcas" autocomplete="off" name ="buscar-prodcutos" id="input-buscador-header" >
                    <div class="contenedor-lupa"><i id="lupa" class="fa-solid fa-magnifying-glass"></i></div>
            </label>

            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>  
            
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>  

        <nav class="main-navbar">

            <ul class="navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="login">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>

    </header>

    <div class="banner">
        <img src="img\img-home-banner.jpg" alt="banner">
    </div>

    <main>
        <section>
            <div class="titulo-seccion-ultima-vista">
                <h3>Basado en tu última visita</h3>
                </div>

            <article class="articulos-ultima-vista">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    </div>
                
                <div class="info-articles">
                    <div class="circulo-envio">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div> 
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>

                </div>

            </article> 

            <article class="articulos-ultima-vista">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>

            </article>

            <article class="articulos-ultima-vista">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    </div>
                
                <div class="info-articles">
                    <div class="circulo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10"</h4>
                    </div>    

            </article>

            <article class="articulos-ultima-vista">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    </div>
                
                <div class="info-articles">
                    <div class="circulo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>

            </article>

        </section>

        <section>

            <div class="titulo-seccion-ofertas">
                <h3>Seccción ofertas</h3>
                </div>

            <article class="articulos-seccion-ofertas">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    </div>
                
                <div class="info-articles">
                    <div class="circulo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>

            </article> 

            <article class="articulos-seccion-ofertas">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    </div>
                
                <div class="info-articles">
                    <div class="circulo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>

            </article>

            <article class="articulos-seccion-ofertas">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10"</h4>
                    </div>

            </article>

            <article class="articulos-seccion-ofertas">

                <div class="content-img-products">
                    <img class="imgs-prodcutos" src="img\img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    </div>
                
                <div class="info-articles">
                    <div class="circulo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>

            </article>

        </section>

    </main>

    <footer>

        <section>

            <div class="iconos-footer">
                <i class="fa-solid fa-credit-card"></i>
                </div>

            <div class="texto-footer">
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>

        </section>

        <section>

            <div class="iconos-footer">
                <i class="fa-solid fa-gift"></i>
                </div>

            <div class="texto-footer">
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>

        </section>

        <section>

            <div class="iconos-footer">
                <i class="fa-solid fa-user-shield"></i>
                </div>
            <div class="texto-footer">    
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>

        </section>

        <div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>

    </footer>   

</body>

</html>

