<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd67e0aa15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Mercado Liebre</title>
</head>
<body>
     <!-- HEADER MAIN HOME -->
     <header class="main-header">

        <div class="main-top-bar">

            <a href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Libre"></a>
            
            <div class="header-search">
                    
                <input type="text" placeholder="Buscar productos, marcas y más" autocomplete="off" name ="buscar-prodcutos" id="input-buscador-header">
                <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>   
                
        </div>

        <!-- Header Hambuerguer y Nav Bar -->    
            
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>  

        <nav class="main-navbar">

            <ul class="navbar">
                <li><a href="/#ofertas">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="login">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="/product-cart">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>

    </header>

<!-- -------- MAIN FORM LOGIN ------------>

    <main>

        <h3>Ingresá a tu cuenta</h3>
        
        <form action="/" method="get" class="create-form">

            <div class="form-div">
                <label for="user-name">Nombre de Usuario</label>
                <input type="text" name="user-name" id="user-name" placeholder="Nombre de usuario" class="form-inputs">
            </div>
            <span id="user-name-error" class="error-message">El nombre debe tener al menos 3 caracteres</span>
            
            <div class="form-div">
                <label>Introduzca su contraseña:</label>
                <input type="password" name="password" placeholder="Contraseña" class="form-inputs">
            </div>
            
            <button type="submit" class="form-button-submit">Login</button>

       
        </form>

    </main>

    <!-- -------FOOTER------- -->
     <footer>

        <div class="footer-container">

            <section>

                <div class="iconos-footer">
                    <i class="fa-solid fa-credit-card"></i>
                    </div>

                <div class="texto-footer">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                    </div>
                    
            </section>

            <section>

                <div class="iconos-footer">
                    <i class="fa-solid fa-gift"></i>
                    </div>

                <div class="texto-footer">
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                    </div>

            </section>

            <section>

                <div class="iconos-footer">
                    <i class="fa-solid fa-user-shield"></i>
                    </div>
                <div class="texto-footer">    
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                    </div>

            </section><br>

        </div>

        <div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>   

</body>

</html>

